.container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 70vh;

    flex-direction: column;

}

.label {
    position: absolute;

    top: -13px;
    left: 15px;

    background-color: #FFF;

    padding: 0 10px;

}

.containerForm {
    display: flex;

    align-items: center;
    justify-content: center;

}

.containerInput {
    display: flex;

    justify-content: center;

    flex-direction: column;

    width: 450px;

    margin-bottom: 20px;

    position: relative;

}

.password {
    border: 2px solid #000;
    border-radius: 5px;

    width: 100%;
    height: 60px;

    display: flex;

    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 20px;

}

.containerInput>input[name=email] {
    height: 60px;
    border-radius: 5px;
    border: 2px solid #000;

}

.password>input {
    border: 0;

}

.password>i {
    font-size: 1.3rem;

    margin-right: 20px;

    color: #000 !important;

}

.input {
    outline: none;

    width: 100%;

    font-family: monospace;
    font-weight: 600;

    padding: 5px 10px;

}

.title {
    margin-bottom: 30px;

    font-weight: 400;

    text-align: center;


}

.forgotPassword {
    position: absolute;
    top: 65px;

    color: #00F;

    font-size: .7rem;

}

.button {
    width: 100%;
    height: 40px;

    color: #FFF;

    padding: 5px;

    text-decoration: none;

    border: 2px double #22F;
    border-radius: 5px;

}

.button:active {
    transform: scale(.9);

}
