.grid {
    width: 90%;
    height: 100%;

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-top: 30px;

}

.button {
    text-align: center;

    border: 1px solid var(--bs-success);
    border-radius: 3px;

    background-color: #198435FF;

    padding: 8px;

    font-weight: 600;

    width: 100%;

    color: black;

}

.button:hover {
    color: black !important;

}
